<div class="preferences-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>User Preferences</mat-card-title>
      <mat-card-subtitle>Select the event categories you're interested in</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <div class="categories-list">
        <div class="category-item" *ngFor="let category of categories">
          <mat-checkbox 
            [checked]="isCategorySelected(category.id)"
            (change)="onCategoryToggle(category.id, $event.checked)">
            {{ category.name }}
          </mat-checkbox>
          <p class="category-description" *ngIf="category.description">
            {{ category.description }}
          </p>
        </div>
      </div>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="savePreferences()">
        Save Preferences
      </button>
    </mat-card-actions>
  </mat-card>
</div>
